{% extends 'base_back.html.twig' %}

{% block body %}
    <h1>Statut creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('statut_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/color-picker.min.js') }}"></script>
    <script>
    console.log('yo');
    var picker = new CP($('#appbundle_statut_color'));

    picker.on("change", function(color) {
        this.target.value = '#' + color;
    });

    </script>
{% endblock %}
