{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-entypo.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-responsive.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    {% endblock  %}
    <span id="id_user" ref="userId" class="hidden" value="{{ user.id }}">{{ user.id }}</span>
    <div class="container-fluid" id="salon">
        <div class="row">
            Salon : {{ salon.title }}
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="btn-panel btn-panel-conversation">
                    Liste des participants
                    <button class="btn  col-lg-6  send-message-btn pull-right" data-toggle="modal" data-target="#modalInviteContact"><i class="fa fa-plus"></i> Inviter un contact</button>
                </div>
            </div>
            {% if my_room == true %}
            <div class="col-lg-offset-1 col-lg-7">
                <div class="btn-panel btn-panel-msg">
                    <button class="btn  col-lg-3  send-message-btn pull-right" data-toggle="modal" data-target="#modalEditRoom"><i class="fa fa-gears"></i> Paramètres</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="conversation-wrap col-lg-3">
                {% for participant in participants %}
                <div class="media conversation">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="">
                    </a>
                    <div class="media-body">
                        <a url="{{ path('other_profil', {'id': participant.getId}) }}"><h5 class="media-heading">{{ participant.firstname }} {{ participant.lastname }}</h5></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="message-wrap col-md-9 col-lg-9">
                <div class="msg-wrap">
                    <div class="media msg">
                    </div>
                    {% for message in messages %}
                        <div class="media msg" id="{{ message.id }}">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="">
                            </a>
                            <div class="media-body">
                                <small class="pull-right time"><i class="fa fa-clock-o"></i> {{ message.time|date('d-m-Y h:i:s') }}
                                {% if my_room == true %}<span id="span-{{ message.id }}" class="red {% if not message.report %}hidden{% endif %}">Commentaire signalé</span><button type="button" class="close waves-effect waves-light pull-right" aria-label="Supprimer" @click.stop.prevent="deleteMessageChat({{ message.id }})">
                                    <span aria-hidden="true">&times;</span>
                                </button>{% else %}<button id="btn-{{ message.id }}" class="fa fa-exclamation-circle waves-effect waves-light {% if message.report %}hidden{% endif %}" @click.stop.prevent="reportMessageChat({{ message.id }})"></button><span id="span-{{ message.id }}" class="red {% if not message.report %}hidden{% endif %}">Commentaire signalé</span>{% endif %}</small>
                                <a url="{{ path('other_profil', {'id': message.user.getId}) }}"><h5 class="media-heading">{{ message.user.firstname }} {{ message.user.lastname }}</h5></a>
                                <small class="col-lg-10">{{ message.message }} {{ message.report  }}</small>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="send-wrap ">
                    <textarea class="form-control send-message" rows="3" placeholder="Ecrivez un message..." id="message"></textarea>
                </div>

                <div class="btn-panel">
                    <input type="button" id="form-submit" class=" col-lg-4 text-right btn   send-message-btn pull-right" value="Envoyer message" @click.stop.prevent="sendMessageChat"/>
                    <span id="username" class="hidden">{{ user.firstname }} {{ user.lastname }}</span>
                    <span id="id_salon" class="hidden">{{ salon.id }}</span>
            </div>
        </div>
            </div>
    </div>
    
    <!--Modal: Editer room form-->
    <div class="modal fade" id="modalEditRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <button type="button"  id="close-edit-profil" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-pencil"></i> Modifier un salon</h4>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <label for="salon-title">Titre du salon</label>
                        <input type="text" id="salon-title" class="form-control" value="{{ salon.getTitle }}">
                    </div>

                    <div class="md-form form-sm">
                        <label for="salon-max-participants">Nombre de participants max</label>
                        <input type="text" id="salon-max-participants" class="form-control" value="{{ salon.getParticipantsNumber }}">
                    </div>

                    <div class="text-center mt-1-half">
                        <button class="btn btn-info mb-2" id="btnEditSalon" @click.stop.prevent="editSalon"> Modifier ce salon <i class="fa fa-send ml-1"></i></button>
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Editer room form-->

    <!--Modal: Inviter contact form-->
    <div class="modal fade" id="modalInviteContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <button type="button"  id="close-edit-profil" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-pencil"></i> Inviter un contact</h4>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">

                    <div class="md-form form-sm">
                        <label for="contact">Contact</label>
                        <select  id="contact" class="form-control">
                            {% for contact in contacts %}
                            <option value="{{ contact.getId }}">
                               {{ contact.getFirstname }} {{ contact.getLastname }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="text-center mt-1-half">
                        <button class="btn btn-info mb-2" id="btnEditProfil" @click.stop.prevent="inviteContact"> Inviter ce contact <i class="fa fa-send ml-1"></i></button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Inviter contact form-->

{% endblock %}