{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-entypo.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-responsive.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    {% endblock  %}

    <div class="vd_content-section clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel widget light-widget panel-bd-top">
                    <div class="panel-heading no-title"> </div>
                    <div class="panel-body">
                        <div class="text-center vd_info-parent"> <img alt="example image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrJ2P7MVKF8hUlVR87wMsGO7T4Jikl_8R7BehuqezQEOhQDnl3Aw"> </div>
                        <div class="row">

                            <div class="col-xs-12"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br" data-toggle="modal" data-target="#modalContactForm" ><i class="fa fa-envelope append-icon"></i>Contacter</a> </div>
                        </div>
                        <h3 class="font-semibold mgbt-xs-5">{{ user.firstname }} {{ user.lastname }}</h3>
                        <div class="mgtp-20">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <td style="width:60%;">Statut</td>
                                    <td><span class="label label-success">Actif</span></td>
                                </tr>
                                <tr>
                                    <td>Membre depuis</td>
                                    <td> Jan 07, 2014 </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- panel widget -->


            </div>
            <div class="col-sm-9">
                <div class="tabs widget">
                    <ul class="nav nav-tabs widget">
                        <li class="active"> <a data-toggle="tab" href="#profile-tab"> Profil <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                        <li class=""> <a data-toggle="tab" href="#projects-tab"> Livres <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="profile-tab" class="tab-pane active">
                            <div class="pd-20">
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow" data-toggle="modal" data-target="#modalEditProfil"> <i class="fa fa-pencil append-icon"></i> Editer </a> </div>
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-user mgr-10 profile-icon " aria-hidden="true" ></i> A PROPOS</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Prénom:</label>
                                            <div class="col-xs-7 controls">{{ user.firstname }}</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Nom:</label>
                                            <div class="col-xs-7 controls">{{ user.lastname }}</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Email:</label>
                                            <div class="col-xs-7 controls">{{ user.email }}</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-2 control-label">Description:</label>
                                            <div class="col-xs-10 controls">{{ user.description }}</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                </div>
                                <hr class="pd-10">
                                {#<div class="row">
                                    <div class="col-sm-7 mgbt-xs-20">
                                        <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
                                        <div class="content-list content-menu">
                                            <ul class="list-wrapper">
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Owner</a> at <a href="http://www.venmond.com">Vendroid Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2013 ~ Now</span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">CEO</a> at <a href="http://www.venmond.com">Mc. Dondon</a> <span class="menu-info"><span class="menu-date"> March 2011 ~ February 2013</span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Web Designer</a> at <a href="http://www.venmond.com">Web Design Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2010 ~ February 2011</span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Sales</a> at <a href="http://www.venmond.com">Sales Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2009 ~ February 2010</span></span> </span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
                                        <div class="content-list content-menu">
                                            <ul class="list-wrapper">
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> Bachelor's degree, E-Commerce/Electronic Commerce at <a href="http://www.venmond.com">UCLA</a> <span class="menu-info"><span class="menu-date"> August 2003 ~ July 2008</span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">Web Design Education</a> <span class="menu-info"><span class="menu-date"> March 2006 ~ February 2007</span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Louis High School</a> <span class="menu-info"><span class="menu-date"> August 2000 ~ July 2003 </span></span> </span> </li>
                                                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Monica Junior High School</a> <span class="menu-info"><span class="menu-date"> August 1998 ~ July 2000</span></span> </span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>#}
                                <!-- row -->
                                {#<hr class="pd-10">#}
                               {# <div class="row">
                                    <div class="col-sm-7">
                                        <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
                                        <div class="">
                                            <div class="content-list">
                                                <div data-rel="scroll" class="mCustomScrollbar _mCS_6" style="overflow: hidden;"><div class="mCustomScrollBox mCS-light" id="mCSB_6" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;"><div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                                                            <ul class="list-wrapper">
                                                                <li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has give you a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span> </span>  </li>
                                                                <li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Change your user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span> </span> </li>
                                                                <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span></li>
                                                                <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span>  </li>
                                                                <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span> </li>
                                                                <li>  <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span>  </li>
                                                                <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span> </li>
                                                                <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span>  </li>
                                                            </ul>
                                                        </div><div class="mCSB_scrollTools" style="position: absolute; opacity: 0; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; height: 352px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                                <div class="closing text-center" style=""> <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-sm-7 -->
                                    <div class="col-sm-5">
                                        <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
                                        <div class="skill-list">
                                            <div class="skill-name"> Photoshop </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">90%</span> </div>
                                            </div>
                                        </div>
                                        <div class="skill-list">
                                            <div class="skill-name"> Illustrator </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-danger "> <span class="sr-only">20%</span> </div>
                                            </div>
                                        </div>
                                        <div class="skill-list">
                                            <div class="skill-name"> PHP </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div>
                                            </div>
                                        </div>
                                        <div class="skill-list">
                                            <div class="skill-name"> Javascript </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
                                            </div>
                                        </div>
                                        <div class="skill-list">
                                            <div class="skill-name"> Communication </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">95% Complete</span> </div>
                                            </div>
                                        </div>
                                        <div class="skill-list">
                                            <div class="skill-name"> Writing </div>
                                            <div class="progress  progress-sm">
                                                <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">45% Complete</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-sm-7 -->
                                </div>#}
                                <!-- row -->
                            </div>
                            <!-- pd-20 -->
                        </div>
                        <!-- home-tab -->

                        <div id="projects-tab" class="tab-pane">
                            <div class="pd-20">
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow" data-toggle="modal" data-target="#modalAddBook"> <i class="fa fa-plus append-icon"></i> Ajouter livre </a> </div>
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-book mgr-10 profile-icon"></i> LIVRES</h3>
                                {#<table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Logo / Photos</th>
                                        <th>Clients</th>
                                        <th>Start Date</th>
                                        <th>Status</th>
                                        <th>Revenue</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img height="80" src="img/avatar/avatar.jpg" alt="example image"></td>
                                        <td>Zoe Corp </td>
                                        <td class="center">2010/02/03</td>
                                        <td class="center">
                                            <span class="label label-success">Finish</span>
                                        </td>
                                        <td class="center"><strong>$ 250</strong></td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img height="80" src="img/avatar/avatar-2.jpg" alt="example image"></td>
                                        <td>Zoe Corp </td>
                                        <td class="center">2010/02/03</td>
                                        <td class="center">
                                            <span class="label label-success">Finish</span>
                                        </td>
                                        <td class="center"><strong>$ 250</strong></td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img height="80" src="img/avatar/avatar-3.jpg" alt="example image"></td>
                                        <td>Zoe Corp </td>
                                        <td class="center">2010/02/03</td>
                                        <td class="center">
                                            <span class="label label-success">Finish</span>
                                        </td>
                                        <td class="center"><strong>$ 250</strong></td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><img height="80" src="img/avatar/avatar-4.jpg" alt="example image"></td>
                                        <td>Zoe Corp </td>
                                        <td class="center">2010/02/03</td>
                                        <td class="center">
                                            <span class="label label-success">Finish</span>
                                        </td>
                                        <td class="center"><strong>$ 250</strong></td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><img height="80" src="img/avatar/avatar-5.jpg" alt="example image"></td>
                                        <td>Zoe Corp </td>
                                        <td class="center">2010/02/03</td>
                                        <td class="center">
                                            <span class="label label-success">Finish</span>
                                        </td>
                                        <td class="center"><strong>$ 250</strong></td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>


                                    </tbody>
                                </table>#}

                                <div class="row">
                                    <div class="container-fluid">
                                        {% for user_oeuvre in user_oeuvres %}
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="userBooksCard"  >
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div>
                                                                <a   href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                                                    <img src="{{ user_oeuvre.oeuvre.urlimage }}" class="img-thumbnail img-userBook img-responsive">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="panel-footer" >
                                                            {{ user_oeuvre.oeuvre.title }} <br>
                                                            {{ user_oeuvre.oeuvre.author.firstname }} rating<star-rating :star-size="20" :rating="5" :read-only="true" :show-rating="false" :increment="0.5" >
                                                            </star-rating>
                                                            <star-rating :star-size="20" :rating="5" :read-only="true" :increment="0.5" :show-rating="false"  active-color="#D99E7E"></star-rating>
                                                            <span class="label label-success">à échanger</span>
                                                            <!--<test-compo v-if="oeuvreIsShown" title="gg"></test-compo>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="">
                                </div>
                            </div>
                        </div>

                        {#<div id="photos-tab" class="tab-pane">
                            <div class="pd-20">
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-plus append-icon"></i> Add Photo </a> </div>
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-picture-o mgr-10 profile-icon"></i> PHOTOS</h3>
                                <ul id="filters" class="nav nav-pills">
                                    <li class="active"><a href="#photos-1" data-filter="*">All</a></li>
                                    <li><a href="#photos-2" data-filter=".filter-1">Photos of You</a></li>
                                    <li><a href="#photos-3" data-filter=".filter-2">Scenery</a></li>
                                    <li><a href="#photos-4" data-filter=".filter-3">Vacation</a></li>
                                </ul>
                                <br>
                                <div class="isotope js-isotope vd_gallery" style="position: relative; height: 3000px;">
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 0px;">
                                        <a href="img/photos/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/01.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Felicious</span> de louis amigos</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 0px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 200px, 0px);">
                                        <a href="img/photos/03.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/03.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Sola</span> Aprecios</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/03.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>

                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 200px, 0px);">
                                        <a href="img/photos/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/08.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Lorem</span> ipsum</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 200px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 400px, 0px);">
                                        <a href="img/photos/15.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/15.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Doler</span> sit amet</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/15.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 400px, 0px);">
                                        <a href="img/photos/02.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/02.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gracias</span> mundo</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/02.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 600px, 0px);">
                                        <a href="img/photos/06.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/06.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Solero</span> dorona</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/06.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>



                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 0px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 600px, 0px);">
                                        <a href="img/photos/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/08.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Weinto</span> grametto</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 800px, 0px);">
                                        <a href="img/photos/04.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/04.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Sara</span> he yaso</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/04.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 800px, 0px);">
                                        <a href="img/photos/10.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/10.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Numero</span> uno</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/10.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>

                                    <div class="gallery-item   filter-3" style="position: absolute; left: 200px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1000px, 0px);">
                                        <a href="img/photos/09.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/09.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Beon</span> dukim</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/09.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 1000px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1000px, 0px);">
                                        <a href="img/photos/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/01.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis amigos</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 200px; top: 1000px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1200px, 0px);">
                                        <a href="img/photos/11.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/11.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Title</span> de koko</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/11.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 1200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1200px, 0px);">
                                        <a href="img/photos/12.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/12.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Some</span> random text</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/12.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 200px; top: 1200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1400px, 0px);">
                                        <a href="img/photos/13.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/13.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Soleram</span> drago</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/13.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 1400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1400px, 0px);">
                                        <a href="img/photos/14.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/14.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis </h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/14.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>

                                </div>

                                <div class="clearfix"></div>

                            </div>
                            <!-- pd-20 -->
                        </div> #}<!-- photos tab -->
                        {#<div id="friends-tab" class="tab-pane">
                            <div class="pd-20">
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-users mgr-10 profile-icon"></i> FRIENDS</h3>
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#photos-1" data-toggle="tab">Friends</a></li>
                                    <li><a href="#photos-2" data-toggle="tab">Pending Request</a></li>
                                    <li><a href="#photos-3" data-toggle="tab">Blacklisted</a></li>
                                </ul>
                                <div class="content-grid column-xs-3 column-sm-4 column-md-4 column-lg-6 height-xs-4 mgbt-xs-20">
                                    <div>
                                        <ul class="list-wrapper">
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text"> Gabriella Montagna
                            <span class="menu-info">
                                <span class="menu-date">San Diego</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li class="warning">
                                                <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-2.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Jonathan Fuzzy
                            	<span class="menu-info">
                                    <span class="menu-date">Seattle</span>
                                    <span class="menu-action">
                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </span>
                            	</span>
                            </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-3.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Sakura Hinata
                            <span class="menu-info">
                                <span class="menu-date">Hawaii</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-4.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Rikudou Sennin
                            <span class="menu-info">
                                <span class="menu-date">Las Vegas</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-5.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Kim Kardiosun
                            <span class="menu-info">
                                <span class="menu-date">New York</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-6.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">   Brad Pita
                            <span class="menu-info">
                                <span class="menu-date">Seattle</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-7.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Celline Dior
                            <span class="menu-info">
                                <span class="menu-date">Los Angeles</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="img/avatar/avatar-8.jpg" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Goerge Bruno Marz
                            <span class="menu-info">
                                <span class="menu-date">Las Vegas</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div><!-- pd-20 -->
                        </div> #} <!-- photos tab -->
                        {#<div id="groups-tab" class="tab-pane">
                            <div class="pd-20">
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-leaf mgr-10 profile-icon"></i> GROUPS</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-01.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Groupis Group</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 3467 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-02.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Ztormin Community</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 12597 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-03.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Book Lovers</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 67 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->




                                </div> <!-- row -->
                            </div> <!-- pd-20 -->
                        </div> #} <!-- groups tab -->

                    </div>
                    <!-- tab-content -->
                </div>
                <!-- tabs-widget -->              </div>
        </div>
        <!-- row -->

        <!--Modal: Contact form-->
        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title"><i class="fa fa-pencil"></i> Formulaire de contact</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="form19">Votre nom</label>
                            <input type="text" id="form19" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <label for="form20">Votre adresse email </label>
                            <input type="password" id="form20" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <label for="form21">Sujet</label>
                            <input type="text" id="form21" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <label for="form8">Votre message</label>
                            <textarea type="text" id="form8" rows="6" class="md-textarea mb-0"></textarea>
                        </div>

                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2">Envoyer <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Contact form-->

        <!--Modal: ajouter livre-->
        <div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="title"><i class="fa fa-book"></i>Ajouter un livre</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">

                        <div class="md-form form-sm">
                            <i class="fa fa-book prefix"></i>
                            <label for="form27">Recherche</label>
                            <!-- id="form27" class="form-control" -->
                            <transition name="slide-fade" >
                                <div v-show="autocompleteLoader" class="loader-autocomplete">
                                    <loader :loading="true" size="30px"></loader>
                                </div>
                            </transition>

                            <autocomplete
                                    url="http://localhost:8000/app_dev.php/getBooks/"
                                    anchor="title"
                                    label="authors"
                                    placeholder="Recherche sur le titre ou l'auteur">
                            </autocomplete>


                        </div>
                        {#<div class="preview">
                            <h2>Votre sélection</h2>
                            <pre>${ data | json 2 }</pre>
                        </div>#}
                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-1 waves-effect waves-light"> Ajouter <i class="fa fa-check ml-1"></i></button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: ajouter livre-->

        <!--Modal: Editer profil form-->
        <div class="modal fade" id="modalEditProfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title"><i class="fa fa-pencil"></i> Editer le profil</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="form19">Votre prénom</label>
                            <input type="text" id="form19" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <label for="form20">Votre nom </label>
                            <input type="password" id="form20" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <label for="form21">Votre adresse email</label>
                            <input type="text" id="form21" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <label for="form8">Votre description</label>
                            <textarea type="text" id="form8" rows="6" class="md-textarea mb-0"></textarea>
                        </div>

                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2"> Mettre à jour <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Editer profil form-->
        
    </div>
    <!-- Vue js star rating -->
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>

{% endblock %}