{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-entypo.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-responsive.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    {% endblock  %}
    <span id="id_user" ref="userId" class="hidden" value="{{ user.id }}">{{ user.id }}</span>
    <div class="vd_content-section clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel widget light-widget panel-bd-top">
                    <div class="panel-heading no-title"> </div>
                    <div class="panel-body">
                        <div class="text-center vd_info-parent"> <img alt="example image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrJ2P7MVKF8hUlVR87wMsGO7T4Jikl_8R7BehuqezQEOhQDnl3Aw"> </div>
                        {% if my_profil == false %}
                        <div class="row button-send-message">

                            <div class="col-xs-12"> <a class="btn vd_btn vd_bg-grey btn-xs btn-block no-br" data-toggle="modal" data-target="#modalContactForm" ><i class="fa fa-envelope append-icon"></i>Envoyer un message</a> </div>
                        </div>
                        <div id="btnAddContact" class="row {% if my_contact == true %}hidden{% endif %}">
                            <div class="col-xs-12"> <button class="btn vd_btn vd_bg-green btn-xs btn-block no-br"  @click.stop.prevent="addContact"><i class="fa fa-user append-icon" ></i>Ajouter aux contacts</button> </div>
                        </div>
                        <div id="btnRemoveContact" class="row {% if my_contact == false %}hidden{% endif %}">
                            <div class="col-xs-12"> <button class="btn vd_btn vd_bg-red btn-xs btn-block no-br"  @click.stop.prevent="removeContact"><i class="fa fa-ban append-icon" ></i>Supprimer ce contact</button> </div>
                        </div>
                        {% endif %}
                        <h3 class="font-semibold mgbt-xs-5">{{ user.firstname }} {{ user.lastname }}</h3>

                        <div class="mgtp-20">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <td style="width:60%;">Statut</td>
                                    <td><span class="label label-success">Actif</span></td>
                                </tr>
                                <tr>
                                    <td>Dernière connexion</td>
                                    <td>${ userData.last_login }</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- panel widget -->


            </div>
            <div class="col-sm-9">
                <div class="tabs widget">
                    <ul class="nav nav-tabs widget">
                        <li class="active"> <a data-toggle="tab" href="#profile-tab"> Profil <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                        <li class=""> <a data-toggle="tab" href="#projects-tab"> Livres <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                        {% if my_profil == true %}
                        <li class=""> <a data-toggle="tab" href="#friends-tab"> Contacts <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                        {% endif %}

                    </ul>
                    <div class="tab-content">
                        <div id="profile-tab" class="tab-pane active">
                            <div class="pd-20">
                                {% if my_profil == true %}
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow" data-toggle="modal" data-target="#modalEditProfil"> <i class="fa fa-pencil append-icon"></i> Editer </a> </div>
                                {% endif %}
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-user mgr-10 profile-icon " aria-hidden="true" ></i> A PROPOS</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Prénom:</label>
                                            <div class="col-xs-7 controls">${ userData.firstname }</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Nom:</label>
                                            <div class="col-xs-7 controls">${ userData.lastname }</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    {% if my_profil == true %}
                                    <div class="col-sm-6">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-5 control-label">Email:</label>
                                            <div class="col-xs-7 controls">${ userData.email }</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-12">
                                        <div class="row mgbt-xs-0">
                                            <label class="col-xs-2 control-label">Description:</label>
                                            <div class="col-xs-10 controls">${ userData.description }</div>
                                            <!-- col-sm-10 -->
                                        </div>
                                    </div>
                                </div>
                                <hr class="pd-10">
                                <!-- row -->
                                {#<hr class="pd-10">#}
                                <!-- row -->
                            </div>
                            <!-- pd-20 -->
                        </div>
                        <!-- home-tab -->

                        <div id="projects-tab" class="tab-pane">
                            <div class="pd-20">
                                {% if my_profil == true %}
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow" data-toggle="modal" data-target="#modalAddBook"> <i class="fa fa-plus append-icon"></i> Ajouter livre </a> </div>
                                {% endif %}
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-book mgr-10 profile-icon"></i> LIVRES</h3>

                                <div class="row">
                                    <div class="container-fluid">
                                        <div v-for="book in userBooks">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="userBooksCard"  >
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div>
                                                                <a   href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                                                    <img :src=" book.url_image " class="img-thumbnail img-userBook img-responsive">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="panel-footer"  >
                                                            ${ book.title } <br>
                                                            ${ book.author } rating<star-rating  :star-size="20" :max-rating="4" :rating=" book.avg_rating " :read-only="true" :show-rating="false" :increment="0.5" >
                                                            </star-rating>
                                                            <star-rating :star-size="20" :max-rating="4" :rating="book.rating" :read-only="true" :increment="0.5" :show-rating="false"  active-color="#D99E7E"></star-rating>
                                                            <span class="label label-default" v-bind:style="{ backgroundColor: book.status_color}">${ book.status }</span>
                                                            <span v-if="book.approved !== 0" class="label label-warning">En attente d'approbation</span>
                                                            <!--<test-compo v-if="oeuvreIsShown" title="gg"></test-compo>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                </div>
                            </div>
                        </div>

                        {#<div id="photos-tab" class="tab-pane">
                            <div class="pd-20">
                                <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-plus append-icon"></i> Add Photo </a> </div>
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-picture-o mgr-10 profile-icon"></i> PHOTOS</h3>
                                <ul id="filters" class="nav nav-pills">
                                    <li class="active"><a href="#photos-1" data-filter="*">All</a></li>
                                    <li><a href="#photos-2" data-filter=".filter-1">Photos of You</a></li>
                                    <li><a href="#photos-3" data-filter=".filter-2">Scenery</a></li>
                                    <li><a href="#photos-4" data-filter=".filter-3">Vacation</a></li>
                                </ul>
                                <br>
                                <div class="isotope js-isotope vd_gallery" style="position: relative; height: 3000px;">
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 0px;">
                                        <a href="img/photos/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/01.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Felicious</span> de louis amigos</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 0px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 200px, 0px);">
                                        <a href="img/photos/03.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/03.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Sola</span> Aprecios</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/03.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>

                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 200px, 0px);">
                                        <a href="img/photos/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/08.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Lorem</span> ipsum</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 200px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 400px, 0px);">
                                        <a href="img/photos/15.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/15.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Doler</span> sit amet</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/15.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 400px, 0px);">
                                        <a href="img/photos/02.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/02.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gracias</span> mundo</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/02.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 600px, 0px);">
                                        <a href="img/photos/06.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/06.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Solero</span> dorona</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/06.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>



                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 0px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 600px, 0px);">
                                        <a href="img/photos/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/08.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Weinto</span> grametto</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 800px, 0px);">
                                        <a href="img/photos/04.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/04.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Sara</span> he yaso</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/04.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 800px, 0px);">
                                        <a href="img/photos/10.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/10.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Numero</span> uno</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/10.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>

                                    <div class="gallery-item   filter-3" style="position: absolute; left: 200px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1000px, 0px);">
                                        <a href="img/photos/09.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/09.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Beon</span> dukim</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/09.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>
                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 1000px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1000px, 0px);">
                                        <a href="img/photos/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/01.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis amigos</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 200px; top: 1000px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1200px, 0px);">
                                        <a href="img/photos/11.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/11.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Title</span> de koko</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/11.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 1200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1200px, 0px);">
                                        <a href="img/photos/12.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/12.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Some</span> random text</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/12.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>

                                    </div>
                                    <div class="gallery-item  filter-3" style="position: absolute; left: 200px; top: 1200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1400px, 0px);">
                                        <a href="img/photos/13.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/13.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Soleram</span> drago</h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/13.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>
                                    <div class="gallery-item  filter-2" style="position: absolute; left: 0px; top: 1400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1400px, 0px);">
                                        <a href="img/photos/14.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                            <img alt="example image" src="img/photos/14.jpg">
                                            <div class="bg-cover"></div>
                                        </a>
                                        <div class="vd_info">
                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis </h3>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/14.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                        </div>


                                    </div>

                                </div>

                                <div class="clearfix"></div>

                            </div>
                            <!-- pd-20 -->
                        </div> #}<!-- photos tab -->
                        {% if my_profil == true %}
                        <div id="friends-tab" class="tab-pane">
                            <div class="pd-20">
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-users mgr-10 profile-icon"></i>CONTACTS</h3>
                                {#<ul class="nav nav-pills">
                                    <li class="active"><a href="#photos-1" data-toggle="tab">Friends</a></li>
                                    <li><a href="#photos-2" data-toggle="tab">Pending Request</a></li>
                                    <li><a href="#photos-3" data-toggle="tab">Blacklisted</a></li>
                                </ul>#}
                                <div class="content-grid column-xs-3 column-sm-4 column-md-4 column-lg-6 height-xs-4 mgbt-xs-20">
                                    <div>
                                        <ul class="list-wrapper">
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text"> Gabriella Montagna
                            <span class="menu-info">
                                <span class="menu-date">San Diego</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li class="warning">
                                                <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Jonathan Fuzzy
                            	<span class="menu-info">
                                    <span class="menu-date">Seattle</span>
                                    <span class="menu-action">
                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </span>
                            	</span>
                            </span>

                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Kim Kardiosun
                            <span class="menu-info">
                                <span class="menu-date">New York</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">   Brad Pita
                            <span class="menu-info">
                                <span class="menu-date">Seattle</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Celline Dior
                            <span class="menu-info">
                                <span class="menu-date">Los Angeles</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>
                                            <li> <a href="#">
                                                    <span class="menu-icon"><img src="{{ asset('images/book.jpg') }}" alt="example image"></span>
                                                </a>
                                                <span class="menu-text">  Goerge Bruno Marz
                            <span class="menu-info">
                                <span class="menu-date">Las Vegas</span>
                                <span class="menu-action">
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div><!-- pd-20 -->
                        </div>
                        {% endif %}
                        <!-- photos tab -->
                        {#<div id="groups-tab" class="tab-pane">
                            <div class="pd-20">
                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-leaf mgr-10 profile-icon"></i> GROUPS</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-01.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Groupis Group</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 3467 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-02.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Ztormin Community</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 12597 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-list content-large menu-action-right">
                                            <ul class="list-wrapper pd-lr-15">
                                                <li>
                                                    <div class="menu-icon"><a href="#"><img src="img/groups/logo-03.jpg" alt="example image"></a></div>
                                                    <div class="menu-text">
                                                        <h4 class="mgbt-xs-0"><a href="#">Book Lovers</a></h4>
                                                        <div class="menu-info">
                                                            <span class="menu-date"> 67 members </span>

                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco...</p>
                                                    </div>
                                                    <div class="menu-action">
                                                        <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- list-wrapper -->
                                        </div> <!-- content-list -->
                                    </div> <!-- col-xs-12 col-sm-6 -->




                                </div> <!-- row -->
                            </div> <!-- pd-20 -->
                        </div> #} <!-- groups tab -->

                    </div>
                    <!-- tab-content -->
                </div>
                <!-- tabs-widget -->              </div>
        </div>
        <!-- row -->

        <!--Modal: Contact form-->
        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button" id="close-form-contact" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title"><i class="fa fa-pencil"></i> Formulaire de contact</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <label for="sujet">Sujet</label>
                            <input type="text" id="sujet" class="form-control">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <label for="message">Votre message</label>
                            <textarea type="text" id="message" rows="6" class="md-textarea mb-0"></textarea>
                        </div>

                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2" @click.stop.prevent="sendMessagePersonal">Envoyer <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Contact form-->

        <!--Modal: ajouter livre-->
        <div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button" id="close-add-book" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="title"><i class="fa fa-book"></i>Ajouter un livre</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">

                        <div class="md-form form-sm">
                            <i class="fa fa-book prefix"></i>
                            <label for="form27">Recherche</label>
                            <!-- id="form27" class="form-control" -->
                            <transition name="slide-fade" >
                                <div v-show="autocompleteLoader" class="loader-autocomplete">
                                    <loader :loading="true" size="30px"></loader>
                                </div>
                            </transition>

                            <autocomplete
                                    ref="autocomplete"
                                    url="http://localhost:8000/app_dev.php/getBooks/"
                                    anchor="title"
                                    label="authors"
                                    placeholder="Recherche sur le titre ou l'auteur">
                            </autocomplete>


                        </div>
                        {#<div class="preview">
                            <h2>Votre sélection</h2>
                            <pre>${ data | json 2 }</pre>
                        </div>#}
                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-1 waves-effect waves-light" @click.stop.prevent="addBook"> Ajouter <i class="fa fa-check ml-1"></i></button>

                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: ajouter livre-->

        <!--Modal: Editer profil form-->
        <div class="modal fade" id="modalEditProfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <button type="button"  id="close-edit-profil" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title"><i class="fa fa-pencil"></i> Editer le profil</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="form19">Votre prénom</label>
                            <input type="text" id="edit_firstname" class="form-control" value=" userData.firstname ">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <label for="form20">Votre nom </label>
                            <input type="text" id="edit_lastname" class="form-control" value=" userData.lastname ">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <label for="form21">Votre adresse email</label>
                            <input type="text" id="edit_email" class="form-control" value=" userData.email ">
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <label for="form8">Votre description</label>
                            <textarea type="text" id="edit_description" rows="6" class="md-textarea mb-0"> userData.description </textarea>
                        </div>

                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2" id="btnEditProfil" @click.stop.prevent="editProfil"> Mettre à jour <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Editer profil form-->
        
    </div>
    <!-- Oeuvre shown-->
    <div v-if="oeuvreIsShown" v-cloak class="oeuvre" id="oeuvreShown" tabindex="1" role="dialog" >
        <div class="modal-content">
            <div class="close-modal" @click="closeModal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>${ oeuvreShown.title }</h2>
                            <hr class="star-primary">
                            <img :src="oeuvreShown.url_image" class="img-responsive img-modal img-centered" alt="">
                            <p>${ oeuvreShown.description }</p>
                            <ul class="list-inline item-details">
                                <li>Auteur:
                                    <strong><a href="http://startbootstrap.com">${ oeuvreShown.author }</a>
                                    </strong>
                                </li>
                                <li>Genre:
                                    <strong><a href="http://startbootstrap.com">${ oeuvreShown.subcategory }</a>
                                    </strong>
                                </li>
                                <li>Note moyenne utilisateurs:
                                    {#<star-rating :star-size="10" :max-rating="4" :rating="${ oeuvreShown.rating }" :read-only="true" :increment="0.5" :show-rating="false"  active-color="#D99E7E"></star-rating>#}
                                    ${ oeuvreShown.rating }
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" @click="closeModal" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vue js star rating -->
    {#<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>#}

{% endblock %}