Bonjour {{ user_target.getFirstname }} {{ user_target.getLastname }},<br><br>

Vous avez reçu une l'invitation suivante de <a url="{{ url('other_profil', {'id': user.getId}) }}">{{ user.getFirstname }} {{ user.getLastname }}</a> :<br><br>

<b>Salon</b> : {{ salon.getTitle }}<br><br>

Cordialement,<br>
Le club des critiques<br><br>
-----------------------------<br>
Si le lien ne fonctionne pas, veuillez copier-coller ceci dans votre navigateur : {{ url('other_profil', {'id': user.getId}) }}