
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img alt="Brand logo" class="logo" src="{{ asset("images/logo/logo.png") }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% for link in links %}
                    <li class="page-scroll">
                        <a href="{{ path('homepage') }}{{ link.url }}">{{ link.name }}</a>
                    </li>
                {% endfor %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('my_profil') }}">mon profil</a> 
                </li>
                {% endif %} 
                <li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('homepage') }}logout">se deconnecter</a>
                    {% else %}
                        <a href="{{ path('homepage') }}login">se connecter</a>
                    {% endif %}
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>